/* ====== FORMS ====== */

.form-control-sm,
input-sm {
    height: 40px;
}

.form-control-md,
input-md {
    height: 50px;
    font-size: var(--fs-rg);
}

.form-control-lg,
input-lg {
    height: 60px;
    font-size: var(--fs-md);
}

.form-control-1 {
    background-color: var(--light-color);
    border-color: transparent;
}

.form-control-2 {
    background-color: var(--white-color);
    border-color: var(--light-color);
}

.form-control,
input {
    &:focus {
        box-shadow: none;
        outline: 0;

        &::placeholder {
            opacity: 0;
        }
    }
}

::placeholder {
    font-size: var(--fs-sm);
    color: var(--gray-color);
}

.form-check-color {
    position: relative;
    padding: 0;

    .form-check-input {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        float: none;
        margin: 0;
        cursor: pointer;
        z-index: 1;

        &:checked~label::before {
            border-color: var(--black-color);
        }
    }

    .form-check-label {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        background-repeat: no-repeat;

        &::before {
            content: "";
            width: 45px;
            height: 45px;
            border: 1px solid #ccc;
            position: absolute;
            left: -2.5px;
            top: -2.5px;
        }
    }
}

.form-check-size {
    position: relative;
    padding: 0;

    .form-check-input {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        float: none;
        margin: 0;
        cursor: pointer;
        z-index: 1;

        &:checked~label::before {
            border-color: var(--black-color);
        }
    }

    .form-check-label {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            width: 45px;
            height: 45px;
            border: 1px solid #ccc;
            position: absolute;
            left: -2.5px;
            top: -2.5px;
        }

        &.sold {
            &::before {
                // background-image: url(../media/soldout.webp);
                background-size: 45px 45px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.form-check-input[type="checkbox"] {
    border-radius: 2px;
}

.form-check-input:checked[type="radio"],
.form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: none;
}

.SumoSelect {
    display: block;
    width: 100%;
}

.SumoSelect .form-control-md~.CaptionCont {
    line-height: 40px;
}

.SumoSelect>.CaptionCont {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    &:hover,
    &:focus {
        border: var(--bs-border-width) solid var(--bs-border-color);
    }
}

.form-control[type="file"] {
    font-size: var(--fs-rg);
}