.product-item {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.0784313725) !important;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    padding: 1rem
}

.star {
    width: 18px;
    height: 18px;
    background:
        linear-gradient(90deg, #f5c949 var(--fill), #eee var(--fill));
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14"><path d="M7.2 10.5609L11.6437 13.7953L9.95625 8.52185L14.4 5.39998H9L7.2 -2.38419e-05L5.4 5.39998H0L4.44375 8.52185L2.75625 13.7953L7.2 10.5609Z"/></svg>') center/contain no-repeat;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14"><path d="M7.2 10.5609L11.6437 13.7953L9.95625 8.52185L14.4 5.39998H9L7.2 -2.38419e-05L5.4 5.39998H0L4.44375 8.52185L2.75625 13.7953L7.2 10.5609Z"/></svg>') center/contain no-repeat;
}