<div class="block-item product-item h-100">
    <div class="block-image position-relative mb-2">
        <a href="#" class="ratio ratio-1x1">
            <img class="w-100 object-fit-contain" [src]="product.imageCover" alt="no-photo" loading="lazy">
        </a>

        <div class="hidden position-absolute start-0" style="bottom: 20px;">
            <div class="d-flex gap-1">
                <a href="#" class="btn btn-sm btn-secondary-color border-0">
                    <span>Add to cart</span>
                </a>
            </div>
        </div>
    </div>

    <div class="block-content">
        <a [routerLink]="['/category', product.category._id]" class="text-secondary-color d-block mb-2">{{
            product.category.name
            }}</a>
        <a class="fw-md d-block lh-sm mb-3" href="#" [appClampText]="2">
            {{ product.title }}
        </a>

        <div class="d-flex flex-wrap justify-content-between">
            <p class="fw-sb mb-0">
                <span class="fs-5">{{ product.price }}</span> <small class="ms-1 fs-xs">EGP</small>
            </p>

            <div class="rating d-flex align-items-center gap-2">
                <div class="d-flex">
                    <ng-container *ngFor="let s of [1,2,3,4,5]">
                        <div class="star" [style.--fill]="getStarFill(product.ratingsAverage, s)"></div>
                    </ng-container>
                </div>

                <small>({{ product.ratingsAverage }})</small>
            </div>
        </div>

    </div>
</div>