.btn-cart {
    position: relative
}

.btn-cart .items-no {
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 8px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-family: var(--fw-bd);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.NavigationScrollHandler_container {
    position: relative;
    display: flex;
    align-items: center;
}

.NavigationScrollHandler_content {
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex: 1 1;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
}

.SiteNavigationV3_wrapper {
    display: flex;
    white-space: nowrap;
    align-items: flex-start;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.NavigationScrollHandler_arrow {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}

.SiteNavigationV3_categoryLink {
    color: var(--black-color);
    padding-top: 14px;
    padding-bottom: 14px;
    display: block;

    &:hover {
        color: var(--primary-color) !important;
    }
}