<div class="pt-md pb-md">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="assets/media/ecommerce.png" alt="ecommerce" loading="lazy">
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h5 class="fw-sb mb-md">Welcome Back. Please Log In To Your <br> Account.</h5>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="d-flex flex-column gap-2 mb-md">
                        <input type="email" formControlName="email" class="form-control form-control-lg"
                            placeholder="Username or Email address" />
                        <input type="password" formControlName="password" class="form-control form-control-lg"
                            placeholder="Password" />
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" formControlName="remember">
                                <label class="form-check-label fs-sm">Remember Password</label>
                            </div>
                            <a href="#" class="text-primary-color fs-sm">Forget password?</a>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-secondary-color btn-lg w-100" [disabled]="loading">
                        {{ loading ? 'Logging in...' : 'Login' }}
                    </button>

                    <div *ngIf="error" class="text-danger mt-2">{{ error }}</div>
                </form>
                <p class="text-center">
                    Don't have an account? <a class="text-decoration-underline" href="./register.html">Sign Up</a>
                </p>
            </div>
        </div>
    </div>
</div>