<!-- Loading Spinner -->
<div *ngIf="loading" class="d-flex justify-content-center align-items-center vh-100">
    <div class="spinner-border" role="status"></div>
</div>


<div class="pt-xl pb-xl" *ngIf="products && products.length > 0; else noProducts">
    <div class="container">
        <div>
            <div class="row row-gap-4">
                <div class="col-xl-3 col-lg-4 col-md-4 col-6" *ngFor="let product of products ">
                    <app-product-card [product]="product"></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #noProducts>
    <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <h5>No products found in this category.</h5>
        </div>
    </div>
</ng-template>