<div class="pt-xl pb-xl">
    <div class="container-fluid">
        <div class="row row-gap-4">
            <div class="col-xl-3 col-lg-4 col-md-4 col-6" *ngFor="let product of products">
                <div class="block-item product-item h-100">
                    <div class="block-image position-relative mb-2">
                        <a href="#">
                            <img class="w-100" [src]="product.imageCover" alt="no-photo" loading="lazy"
                                style="aspect-ratio: 12/12;">
                        </a>
                        <div class="hidden position-absolute bottom-0 start-0">
                            <div class="d-flex gap-1">
                                <a href="#" class="btn btn-sm btn-light-color border-0">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="block-content">
                        <a class="fw-md fs-rg d-block lh-sm mb-1" href="#">
                            {{product.title }}</a>
                        <div class="rating d-flex gap-1 mb-2">
                            <div *ngFor="let i of [1, 2, 3, 4, 5]">
                                <fa-icon *ngIf="product.ratingsAverage >= i" [icon]="faStarFull"
                                    class="text-warning"></fa-icon>
                                <fa-icon *ngIf="product.ratingsAverage >= i - 0.5 && product.ratingsAverage < i"
                                    [icon]="faStarHalf" class="text-warning"></fa-icon>
                                <fa-icon *ngIf="product.ratingsAverage < i - 0.5" [icon]="faStarEmpty"
                                    class="text-warning"></fa-icon>
                            </div>
                            <span>({{ product.ratingsAverage }})</span>
                        </div>


                        <span class="text-secondary-color fw-sb">{{product.price}} <small>EGP</small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>