.product-item {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.0784313725) !important;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    padding: 1rem
}

.rating {
    display: flex;
    align-items: center;
    gap: 2px;

    svg {
        width: 20px;
        height: 20px;
    }

    span {
        margin-left: 8px;
        font-size: 14px;
    }
}